// vim: ts=8 sts=2 sw=2 et
body
  width: 640px
  margin: 0 1%
  padding: 0px

td#delete
  form
    display: inline

form#tomorrow
  input.enum
    width: 3em
    margin-right: 0.25em
  select.office
    margin-right: 0.5em

  dl.behavior
    margin-bottom: 2em

    dt
      width: 7em
      clear: both
      float: left
      line-height: 1.4em
    dd
      margin-left: 7em

  div.submit
    clear: both
    padding-top: 0.7em

hr
  border: 0
  height: 1px
  background-color: #888

table#actions
  width: 100%
  border-collapse: collapse

  tbody
    tr
      border-top: 1px solid #888
